:root {
  --color-black: #000;
  --color-cream: #efefef;
  --color-primary: #ff00ff;
  --color-primary-dark: #800080;
  --color-primary-light: pink;
  --color-twitter: #00acee;
  --color-white: #fff;
  --color-white2: #f7f7f7;
  --color-white3: #dadada;
  --color-white4: #f0f0f3;
  --opacity: 0.6;
  --shadow: 0 1rem 1rem rgba(131, 86, 86, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

main {
  margin: 0 auto;
  max-width: 1256px;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

p {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 2;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  color: var(--color-black);
}

.heading-1 {
  font-size: 4.5rem;
}

.heading-2 {
  font-size: 3.5rem;
}

.heading-3 {
  font-size: 2rem;
}

.heading-4 {
  font-size: 1.6rem;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 8rem;
  padding: 0 2rem;
  position: relative;
  z-index: 50;
}

.header__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__top-sub-title {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem;
}

.header__top-title {
  color: var(--color-white);
  font-weight: normal;
}

.header__top-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 75em) {
  .header__under {
    display: none;
  }
}

.header__under-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__under-item {
  text-align: center;
}

.header__under-link {
  color: var(--color-white);
  display: block;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  width: 10rem;
}

.header__under-link::after {
  background: var(--color-cream);
  bottom: -1px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}

.header__under-link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__search-icon {
  fill: var(--color-white);
  height: 3rem;
  position: relative;
  top: 5px;
  width: 3rem;
}

.header-search {
  background-color: var(--color-white);
  border-bottom: 3px solid var(--color-primary);
  font-size: 1.6rem;
  left: 0;
  padding: 2rem;
  position: absolute;
  pointer-events: none;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 75em) {
  .header-search {
    display: none;
  }
}

.header-search__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.header-search__input {
  border: 3px solid var(--color-primary);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95%;
          flex: 0 1 95%;
  font-size: inherit;
  height: 5rem;
  outline: none;
  padding: 1rem;
}

.header-search__button {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 5rem;
  outline: none;
}

.header-search__icon {
  fill: var(--color-white);
  height: 2rem;
  width: 2rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0;
}

@media only screen and (max-width: 75em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
}

@media only screen and (max-width: 75em) {
  .details {
    margin-right: 0;
    padding: 2rem;
  }
}

.side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  font-size: 1.6rem;
}

@media only screen and (max-width: 75em) {
  .side {
    padding: 0 2rem 2rem 2rem;
  }
}

.footer {
  background-color: var(--color-primary);
  font-size: 1.6rem;
  line-height: 8rem;
  padding: 0 2rem;
}

.footer__text {
  color: var(--color-white);
  text-align: center;
}

.area {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

@media only screen and (max-width: 31.25em) {
  .area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.area__item {
  background-color: var(--color-white);
  border: 3px solid var(--color-white4);
  border-radius: 10px;
  padding: 3rem;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.area__item:hover {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.area__image-wrapper {
  margin-bottom: 2rem;
  position: relative;
}

.area__ca {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.6rem;
  left: 0;
  padding: 0.4rem;
  position: absolute;
  top: 0;
}

.area__title {
  margin-bottom: 2rem;
}

.area__text {
  margin-bottom: 2rem;
}

.area__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.area__icon {
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.area__date {
  font-size: 1.6rem;
}

.area__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article {
  background-color: var(--color-white);
  border: 3px solid var(--color-white4);
  border-radius: 10px;
  padding: 3rem;
}

.article__title {
  margin-bottom: 2rem;
}

.article__ca-link {
  color: var(--color-white);
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--color-primary);
}

.article__time-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 2rem;
}

.article__img-wrapper {
  margin-bottom: 4rem;
}

.article__contents {
  background-color: var(--color-white2);
  border: 3px solid var(--color-white4);
  border-radius: 10px;
}

.article__contents-title {
  border-bottom: 2px solid var(--color-white3);
  padding: 1rem;
  text-align: center;
}

.article__list {
  list-style: none;
}

.article__item {
  padding: 2rem;
}

.article__item:not(:last-child) {
  border-bottom: 2px solid var(--color-white3);
}

.article__item-link {
  color: var(--color-twitter);
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

.article__item-link:hover {
  text-decoration: underline;
}

.article__sub-title {
  margin: 6rem 0 2rem;
  position: relative;
}

.article__sub-title::before {
  content: "";
  background-color: var(--color-primary);
  border-radius: 6px;
  width: 20%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.article__sub-title::after {
  content: "";
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.article__text:not(:last-child) {
  margin-bottom: 2rem;
}

.bar {
  border: 3px solid var(--color-white4);
  border-radius: 10px;
  padding: 2rem;
}

.bar:not(:last-child) {
  margin-bottom: 2rem;
}

.bar__title {
  font-weight: normal;
  text-align: center;
}

.bar__list {
  padding: 2rem;
}

.bar__item {
  list-style-type: none;
  padding-left: 0.8em;
  position: relative;
}

.bar__item::before {
  background: var(--color-primary);
  border-radius: 50%;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0.6em;
  width: 5px;
}

.bar__item:not(:last-child) {
  margin-bottom: 1rem;
}

.bar__ca-link {
  color: var(--color-primary);
}

.bar__tag-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.bar__tag {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.bar__tag-link {
  background-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-white);
  display: inline-block;
  padding: 1rem;
}

.bar__img-wrapper {
  height: 6rem;
  margin: 2rem auto 0 auto;
  width: 6rem;
}

.bar__img {
  border: 3px solid var(--color-primary);
  border-radius: 50%;
}

.bar__box {
  padding: 2rem;
}

.bar__text {
  margin-bottom: 2rem;
  text-align: center;
}

.bar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bar__icon-wrapper {
  position: relative;
}

.bar__icon-wrapper:not(:last-child) {
  margin-right: 2rem;
}

.bar__icon {
  height: 4rem;
  width: 4rem;
}

.bar__icon-twitter {
  fill: var(--color-twitter);
}

.bar__icon-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */