@keyframes move-to-right {

    0% {
        opacity: 0;
        margin-right: 10%;
    }

    100% {
        opacity: 1;
        margin-right: 0%;
    }
}

@keyframes move-to-left {

    0% {
        opacity: 0;
        margin-left: 10%;
    }

    100% {
        opacity: 1;
        margin-left: 0%;
    }
}