:root {
    --color-black: #000;
    --color-cream: #efefef;
    --color-green: #00fa9a;
    --color-primary: #ff00ff;
    --color-primary-dark: #800080;
    --color-primary-light: pink;
    --color-twitter: #00acee;
    --color-white: #fff;
    --color-white2: #f7f7f7;
    --color-white3: #dadada;
    --color-white4: #f0f0f3;
    --opacity: 0.6;
    --shadow: 0 1rem 1rem rgba(131, 86, 86, 0.2);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-small) {
        font-size: 50%;
    }
}

body {
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

main {
    margin: 0 auto;
    max-width: 1256px;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

p {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 2;
}
