/////////////////////////////////
////// HEADER

.top {
    padding: 3rem 0;
    text-align: center;

    &__sub-title {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--color-primary);

        animation: move-to-right 2s;
    }

    &__title {
        animation: move-to-left 2s;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    margin-bottom: 3rem;

    &__search {
        display: flex;
        align-items: center;
        margin-right: 6rem;
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        padding: 1rem;
        padding-right: 3.5rem;
        outline: none;
        color: var(--color-black);
        background-color: var(--color-white);
        border: 3px solid var(--color-primary);
        border-radius: 20px;
        margin-right: -3rem;
    }

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary);
        transition: all 0.2s;

        &:hover {
            opacity: var(--opacity);
        }
    }

    &__user {
        display: flex;
    }

    &__item {
        position: relative;
        transition: all 0.2s;

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &:hover {
            opacity: var(--opacity);
        }
    }

    &__u-icon {
        width: 4rem;
        height: 4rem;
    }

    &__link {
        @include over-link;
    }
}

.twitter--icon {
    fill: var(--color-twitter);
}

.github--icon {
    fill: var(--color-black);
}

.under {
    background-color: var(--color-primary);

    &__list {
        list-style: none;

        display: flex;
        justify-content: center;
    }

    &__item {
        text-align: center;
        transition: all 0.2s;
        border-left: 3px solid var(--color-white);

        flex: 0 1 20%;

        &:hover {
            background-color: var(--color-primary-light);
        }
    }

    &__list > *:last-child {
        border-right: 3px solid var(--color-white);
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        color: var(--color-white);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
    }
}

/////////////////////////////////
////// DETAILS

.area {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    &__item {
        position: relative;
        padding: 3rem;
        background-color: var(--color-white);
        transition: all 0.2s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: var(--shadow);
        }
    }

    &__image-wrapper {
        position: relative;
        margin-bottom: 2rem;
    }

    &__ca {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.4rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

    &__date {
        font-size: 1.6rem;
    }

    &__link {
        @include over-link;
    }
}

/////////////////////////////////
////// SIDE

.bar {
    padding: 2rem;

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__article {
        position: relative;
        transition: all 0.2s;
        border-bottom: 1px solid var(--color-cream);

        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &:hover {
            opacity: var(--opacity);
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

        flex: 1;
    }

    &__box {
        flex: 0 1 70%;
    }

    &__ar-title {
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__link {
        @include over-link;
    }

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &::before {
            position: absolute;
            content: "";
            left: -100%;
            top: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid var(--color-primary);
            transform: rotate(90deg);
        }
    }

    &__ca-link {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--color-black);
        transition: all 0.2s;

        &:hover {
            opacity: var(--opacity);
        }
    }

    &__archive {
        font-size: inherit;
        font-family: inherit;
        padding: 1.5rem;
        width: 100%;
        border: 3px solid var(--color-cream);
        outline: none;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            // opacity: var(--opacity);
            transform: translateY(-3px);
        }
    }
}

/////////////////////////////////
////// CONTENT--2

.calendar {
    flex: 1;

    &__title {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__body {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    th {
        width: 8rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        padding: 1.5rem;
    }

    td {
        border: 1px solid var(--color-primary);
        padding: 1.5rem;
    }

    .date-picker.selected {
        font-weight: bold;
        background-color: var(--color-primary);
    }

    .date-picker.selected span {
        color: var(--color-white);
        border-bottom: 2px solid var(--color-white);
    }

    .date-picker:nth-child(1) {
        color: red;
    }

    .date-picker:nth-child(6) {
        color: green;
    }

    &__footer {
        margin-right: 2rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__footer :last-child {
        margin-left: 1.5rem;
    }

    &__select {
        font-size: inherit;
        font-weight: 700;
        font-family: inherit;
        cursor: pointer;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        color: var(--color-white);
        background-color: var(--color-primary);
        transition: all 0.2s;

        &:hover {
            opacity: var(--opacity);
        }
    }

    &__last-date {
        opacity: var(--opacity);
    }
}

.todo {
    flex: 0 1 50%;

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__form {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 4rem;
        border: 3px solid var(--color-primary);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        padding: 1rem;
        outline: none;
        border: none;

        flex: 0 1 80%;
    }

    &__button {
        font-size: inherit;
        font-family: inherit;
        padding: 1rem;
        cursor: pointer;
        color: var(--color-white);
        background-color: var(--color-primary);
        outline: none;
        border: none;

        flex: 1;
    }

    &__list {
        width: 80%;
        margin: 0 auto;
        background-color: khaki;
    }

    &__item {
        font-size: 1.6rem;
        padding: 1rem;
        border: 3px solid black;

        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: auto;
        cursor: pointer;
    }


}

