.header {
    background-color: var(--color-white);
    font-size: 1.6rem;

    // height: 28vh;
}

.content {
    display: flex;
    margin: 3rem 0;
}

.details {
    flex: 1;
    margin-right: 5rem;
}

.side {
    font-size: 1.6rem;
    flex: 0 1 25%;
    background-color: var(--color-white);
}

.content--2 {
    padding: 5rem;
    margin: 3rem 0;
    font-size: 1.6rem;

    display: flex;
}

.content--3 {
    padding: 5rem;
    margin: 3rem 0;
    font-size: 2rem;
}

.footer {
    padding: 3rem;
    font-size: 1.6rem;
    background-color: var(--color-black);

    display: flex;
    justify-content: space-between;
}